.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
body{
 /* background-color: rgb(243, 238, 238); */
 background-image: url('https://hbr.org/resources/images/article_assets/2018/10/oct18_26_758313937.jpg');
  width: 100%; /* Adjust according to your layout */
  height: 400px; /* Adjust according to your layout */
  background-size: cover; /* Cover the entire element */
  background-position: center; 
}

button#nav:hover {
  border-color: #09d15e;

}
#card:hover {
  border-width: 3px;
  border-color: #09d15e;
  
}
#card{
  background-color: white;
}
.input-container {
  width: 100%; /* Default width */
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
